{% extends 'base.html'%} {% block content %}
<br>

<body>
  <h1 style="text-align: center;">{{cat}} NEWS </h1>
  <hr>
    <div style="background-color: rgb(211, 204, 204); height: 800px; overflow-y: scroll;"  class="container">
      <div class="card-columns">
        {% for category in category %}

        <div style="background-color: wheat; float: left; padding: 20px;width: 32%; margin: 3px; border-radius: 8px; height: 450px;" class="card">
          <img class="card" src="{{category.urlToImage}}" height="200px" width="100%" alt="Card image cap">
          <div class="card-body">
            <h5 style="color: blue; font-weight: bold; text-transform: uppercase;" class="card-title">{{category.author}}</h5>
            <p class="card-text">{{category.description}}</p>
            <a href="{{category.url}}">
              <p class="card-text">More</p>
            </a>
          </div>
          <div style="font-weight: bold;" class="card-footer">
            <small class="text-muted">Publish date:{{category.publishedAt}}</small>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <br>
    <br>
    {% endblock %}
    <br>
 
  </body>
  <br>
  <br>

